.main {
    margin: 75px 15px 0 210px;

    input{
        &:focus {
            color: color(grey,darker);
            border-color: color(grey,darker);
            box-shadow: none;
        }

        &::-webkit-search-cancel-button{
            -webkit-appearance: none;
            height: 10px;
            width: 10px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            background-size: 10px;
            background-position: top left;
        }
    }
}
