$palettes: (
    blue: (
        darker: hsl(201, 61%, 34%),
        dark: hsl(198, 57%, 39%),
        base: hsl(196, 59%, 42%),
        light: hsl(194, 56%, 51%),
        lighter: hsl(192, 61%, 53%),
        slighter: hsl(192, 100%, 65%)
    ),
    red: (
        base: hsl(0, 100%, 58%)
    ),
    gray:(
        darker: hsl(210, 15%, 24%),
        dark: hsl(209, 13%, 35%),
        base: hsl(206, 11%, 45%),
        light: 	hsl(221, 12%, 69%),
        lighter: hsl(219, 13%, 78%),
        slighter: #f8f9fa

    ),
    black:(
        blackt03: rgba(0,0,0,.3),
        base: black
    ),
    grey_blue:(
        text: rgba(67, 82, 112, 1),
        text_hv: rgba(255, 255, 255, 1),
        button: rgba(239, 241, 245, 1),
        button_hv: rgba(163, 173, 194, 1),
        navigation: rgba(209, 214, 224, 1),
        side_nav: rgba(194, 201, 214, 1)
    )
);

@function color($color,$tone){

    @if map-has-key($palettes,$color){
        $color: map-get($palettes,$color);

        @if map-has-key($color,$tone){
            $tone: map-get($color,$tone);
            @return $tone;
        }
        @return null;
    }
    @return null;

}
/*
* Usage example
*
* .banner{
*     background-color: color(blue,base);
* }
*
*/
