.navbar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: color(grey,slighter);
    padding-left: 48px;

    div:first-child{
        display: flex;
        width: 100%;
    }

    .topnav {
        padding-left: 65px;
        padding-right: 10px;

        .input-group{
            height: 20px;
        }

        span {
            display: block;
            padding: 10px;
        }
    }
}

