.sidenav {
    height: 530px;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: color(grey_blue, side_nav);
    overflow-x: hidden;
    border-radius: 0 0 20px 0;
    padding: 35px 20px 35px 20px;

    a {
        padding: 15px 11px;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 21px;
        background-color: color(grey_blue, button);
        color: color(grey_blue, text);
        display: block;
        border-radius: 15px;
        width: 210px;
        height: 60px;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
            color: color(grey_blue, text_hv);
            background-color: color(grey_blue, button_hv);
            transition: 0.4s;
        }
    }
}


